
page-landmarks {
    verticaltimeline .timeline-icon {
    width: 50px;
    height: 50px;
    z-index: 2;
    background-color: #fff !important;
    font-size: 24px;
    border-radius: 500px;
    padding-left: 12px;
    padding-top: 12px;
    border: 0px solid #343434;
    box-shadow: 0px 0px 2px 1px #ccc;
    color: #343434;
    
    }

    // .scroll-content {
    //     background-image:linear-gradient(-134deg, #3023ae 0%, #c86dd7 100%);
    // }

    .scroll-content {
        background-color: #535353;
        /* IE9, iOS 3.2+ */
        background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIHZpZXdCb3g9IjAgMCAxIDEiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxsaW5lYXJHcmFkaWVudCBpZD0idnNnZyIgZ3JhZGllbnRVbml0cz0idXNlclNwYWNlT25Vc2UiIHgxPSIwJSIgeTE9IjAlIiB4Mj0iMCUiIHkyPSIxMDAlIj48c3RvcCBzdG9wLWNvbG9yPSIjODA4MDgwIiBzdG9wLW9wYWNpdHk9IjEiIG9mZnNldD0iMCIvPjxzdG9wIHN0b3AtY29sb3I9IiM1YjViNWIiIHN0b3Atb3BhY2l0eT0iMSIgb2Zmc2V0PSIwLjQwOCIvPjxzdG9wIHN0b3AtY29sb3I9IiMyODI4MjgiIHN0b3Atb3BhY2l0eT0iMSIgb2Zmc2V0PSIxIi8+PC9saW5lYXJHcmFkaWVudD48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI3ZzZ2cpIiAvPjwvc3ZnPg==);
        background-image: -webkit-gradient(linear, 0% 0%, 0% 100%,color-stop(0, rgb(128, 128, 128)),color-stop(0.408, rgb(91, 91, 91)),color-stop(1, rgb(40, 40, 40)));
        /* Android 2.3 */
        background-image: -webkit-repeating-linear-gradient(top,rgb(128, 128, 128) 0%,rgb(91, 91, 91) 40.8%,rgb(40, 40, 40) 100%);
        /* IE10+ */
        background-image: repeating-linear-gradient(to bottom,rgb(128, 128, 128) 0%,rgb(91, 91, 91) 40.8%,rgb(40, 40, 40) 100%);
        background-image: -ms-repeating-linear-gradient(top,rgb(128, 128, 128) 0%,rgb(91, 91, 91) 40.8%,rgb(40, 40, 40) 100%);
    }

    .timeline-title {
        color: white;
        font-size: 16px;
        font-weight:bold;
        padding:0 0 5px 0;
        text-shadow: #535353;
    }
    
    .timeline-content-time {
        color: white;
        font-size: 16px;
        padding:5px 0 0 0;
        margin:0;
        text-shadow: #fff;
    }


    .timeline-content {
        color: white;
        font-size: 12px;
        padding:5px 0 0 0;
        margin:0;
    }
     
     

    verticaltimeline .timeline-border {
    position: relative;
    border: 0px solid #343434;
    // background-color: #f4f4f4 !important;
    background-image:linear-gradient(-180deg, #fad961 0%, #f76b1c 100%);
    z-index: 2;
    box-shadow: 0px 0px 2px 1px #ccc;
    // box-shadow: 2px 2px 2px 1px #ccc;
    }

    verticaltimeline .timeline-icon-border {
    width: 50px;
    height: 50px;
    z-index: 2;
    background-color: #fff !important;
    font-size: 24px;
    padding-left: 12px;
    padding-top: 11px;
    border-radius: 500px;
    border: 1px solid #343434;
    box-shadow: 0px 0px 2px 0px #ccc;
    color: #343434;
    }

    verticaltimeline .timeline-icon-border {
    width: 50px;
    height: 50px;
    z-index: 2;
    background-color: white;
    font-size: 24px;
    padding-left: 12px;
    padding-top: 11px;
    border-radius: 500px;
    border: 1px solid #ccc;
    box-shadow: 0px 0px 2px 0px #ccc;
    }

    verticaltimeline .timeline-container:before {
    content: '';
    position: absolute;
    top: -50px;
    bottom: 0;
    width: 1px;
    padding-bottom: 150px;
    background: #ffffff;
    margin-right: 50%;
    margin-left: 50%;
    z-index: 1;
    }

    .fa-balance-scale {
    padding-left: 10px !important;
    }
    .fa-users {
    padding-left: 10px !important;
    }
    .fa-gavel {
    padding-left: 13px !important;
    }
}
