<ion-header>

  <ion-navbar>
    <ion-title>SCOTUS</ion-title>

    <!-- <ion-buttons end>
      <button ion-button icon-only (click)="addItem()">
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons> -->
  </ion-navbar>

</ion-header>

<ion-content>
  <br>
  <ion-list>
    <ion-item-sliding *ngFor="let item of currentItems">
      <button ion-item (click)="openItem(item)">
        <ion-avatar item-start>
          <img [src]="item.profilePic" />
        </ion-avatar>
        <h2><strong>{{item.name}}</strong></h2>
        <p style="color:black !important;"><strong>{{item.title}}</strong></p>
        <p style="color:black !important;"><small>President {{item.appointed}} @ {{item.year}}</small></p>
        <!-- <ioitn-note item-end *ngIf="item.note">{{item.note}}</ioitn-note> -->
      </button>

      <!-- <ion-item-options>
        <button ion-button color="danger" (click)="deleteItem(item)">
          {{ 'DELETE_BUTTON' | translate }}
        </button>
      </ion-item-options> -->
    </ion-item-sliding>
  </ion-list>
</ion-content>